body {
  font-family: "Open Sans", "Arial", sans-serif;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
  
  @media ($width-tablet) {
    width: 764px;
  }
  
  @media ($width-desktop) {
    width: 980px;
  }
}

.wrapper--program {
  
  @media ($width-desktop) {
    display: flex;
    justify-content: space-around;
  }
}