body {
  font-family: "Open Sans", "Arial", sans-serif;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
  
  @media ($width-tablet) {
    width: 724px;
    padding: 0 20px;
  }
  
  @media ($width-desktop) {
    width: 940px;
  }
}