.contact {
  position: relative;
  height: 654px;
}

.contacts {
  padding-left: 40px;
  padding-right: 60px;
  position: absolute;
  top: 112px;
  background: rgba(73, 64, 72, .87);
}

.contact-map {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts-main {
  font-size: 23px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #e4e8f6;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item__top {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: .08em;
  color: #d1d9e4;
}

.contacts-item__bottom {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: .08em;
  color: #d1d9e4;
}

.contacts-item__btn {
  margin: 50px 0 40px 10px;
  display: inline-block;
  padding: 10px 27px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .1em;
  color: #352a3b;
  background-color: #fded14;
  border-radius: 5px;
  text-decoration: none;
}