.contact {
  position: relative;
  height: 652px;
}

.contacts {
  margin-left: 17px;
  padding: 0 75px 0 46px;
  position: absolute;
  top: 112px;
  background: rgba(73, 64, 72, .87);
  
  &:hover {
    color: #ffffff;
    background-color: #000000;
  }
}

.contact-map {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts-main {
  margin-bottom: 0;
  margin-top: 29px;
  font-size: 23px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #e4e8f6;
}

.contacts-item {
  margin-bottom: -11px;
  margin-top: 31px;
}

.contacts-item__top {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: .08em;
  color: #d1d9e4;
}

.contacts-item__bottom {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: .08em;
  color: #d1d9e4;
}

.contacts-item__btn {
  margin: 82px 0 51px 2px;
  display: inline-block;
  padding: 5px 26px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .1em;
  color: #352a3b;
  background-color: #fded14;
  border-radius: 5px;
  text-decoration: none;
  
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}

@media ($width-tablet) {
  
  .contacts {
    margin-left: 46px;
  }
}

@media ($width-desktop) {
  
  .contacts {
    margin-left: 52px;
  }
}