.footer {
  padding: 17px 0 20px 0;
  background-color: #352a3b;
}

.footer-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  position: relative;
  margin-left: 55px;
  width: 115px;
  font-family: "Segoe Script";
  font-size: 9px;
  line-height: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #e1e9f6;
  cursor: pointer;
  
  &:hover {
    opacity: .5;
  }
  
  &:active {
    opacity: .2;
  }
}

.footer-logo::before {
  @include pseudo;
  width: 50px;
  height: 31px;
  background: url("../img/logo.png") no-repeat;
  left: -55px;
  bottom: -3px;
}

.footer-btn {
  display: inline-block;
  padding: 5px 22px 8px 20px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #e1e9f6;
  border: 1px solid #a4a5b3;
  border-radius: 3px;
  text-decoration: none;
  opacity: .78;
}

.footer-copyright {
  width: 130px;
  text-align: right;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #e1e9f6;
  opacity: .78;
}

@media ($width-tablet) {
  
  .footer {
    padding: 29px 0 25px 0;
  }
  
  .footer-copyright {
    width: 350px;
    font-size: 13px;
    opacity: .55;
  }
  
  .footer-btn {
    margin-left: 50px;
    padding: 6px 16px 6px 17px;
    opacity: .55;
  }
  
  .footer-logo {
    margin-left: 63px;
    opacity: .65;
  }
  
  .footer-logo::before {
    left: -62px;
  }
}

@media ($width-desktop) {
  
  .footer {
    padding: 35px 0 25px 0;
  }
  
  .footer-logo {
    margin-right: 171px;
  }
  
  .footer-btn {
    padding: 6px 12px 6px 12px;
  }
  
  .footer-copyright {
    width: 242px;
  }
}