.header {
  padding: 27px 0 24px 0;
  background-color: #352a3b;
}

.header__container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  margin: 5px 0 0 55px;
  width: 115px;
  font-family: "Segoe Script";
  font-size: 9px;
  line-height: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #e1e9f6;
  cursor: pointer;
  
  &:hover {
    opacity: .7;
  }
  
  &:active {
    opacity: .3;
  }
}

.header__logo::before {
  @include pseudo;
  width: 50px;
  height: 31px;
  background: url("../img/logo.png") no-repeat;
  left: -55px;
  bottom: 0;
}

.header__right {
  width: 179px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__call {
  padding: 7px 16px 7px 22px;
  font-size: 10px;
  line-height: 23px;
  font-weight: 600;
  letter-spacing: .1em;
  background-color: #fded14;
  border-radius: 5px;
  text-decoration: none;
  
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}

.header__menu {
  font-size: 17px;
  line-height: 23px;
  font-weight: 600;
  letter-spacing: .1em;
  display: none;
}

.header__btn {
  position: relative;
  width: 28px;
  height: 24px;
  font-size: 0;
  background: #fded14;
  border: 0;
}

.header__btn::before {
  @include pseudo;
  height: 5px;
  width: 100%;
  top: 4px;
  left: 0;
  background: #352a3b;
}

.header__btn::after {
  @include pseudo;
  height: 5px;
  width: 100%;
  bottom: 5px;
  left: 0;
  background: #352a3b;
}

@media ($width-tablet) {
  
  .header__container {
    padding: 0 24px 0 20px;
  }
  
  .header__logo {
    margin: 5px 0 0 62px;
  }
  
  .header__logo::before {
    left: -61px;
  }
  
  .header__right {
    width: 394px;
  }
  
  .header__btn {
    align-self: flex-start;
    width: 34px;
    height: 28px;
  }
  
  .header__btn::before {
    height: 6px;
    top: 6px;
  }
  
  .header__btn::after {
    height: 6px;
  }
}

@media ($width-desktop) {
  
  .header {
    padding: 8px 0 16px 0;
  }
  
  .header__container {
    padding: 0 20px 0 20px;
  }
  
  .header__logo {
    margin: 9px 0 0 57px;
  }
  
  .header__right {
    width: 766px;
  }
  
  .header__menu {
    display: flex;
    list-style: none;
  }
  
  .header__menu-item {
    margin-right: 18px;
  }
  
  .header__menu-link {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #ffffff;
    
    &--active {
      border-bottom: 2px solid #fded14;
      color: #fded14;
    }
    
    &:hover {
      opacity: .6;
    }
    
    &:active {
      opacity: .3;
    }
  }
  
  .header__btn {
    display: none;
  }
}