.info {
  background-image: url("../img/tablet-bg_info.jpg");
  background-repeat: no-repeat;
  background-position: 50% 15%;
  padding: 60px 0 100px 0;
}

.info__top {
  padding: 0 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #e0ecff;
  text-transform: uppercase;
}

.info__bottom {
  text-align: center;
  margin-bottom: 188px;
  font-size: 23px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .1em;
  color: #e0ecff;
}

.info__program {
  width: 275px;
  display: block;
  padding: 5px 32px 5px 44px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 62px;
  font-weight: 600;
  letter-spacing: .1em;
  color: #000000;
  background-color: #fded14;
  text-decoration: none;
  border-radius: 5px;
}

@media ($width-tablet) {
  
  .info {
    background-image: url("../img/desktop-bg_info.jpg");
  } 
  
  .info__top {
    padding: 0 20px;
  }
  
  .info__top-span {
    display: inline;
  }
}

@media ($width-desktop) {
  
  
}