.info {
  padding: 69px 0 177px 0;
  background-image: url("../img/tablet-bg_info.jpg");
  background-repeat: no-repeat;
  background-position: 50% 26%;
}

.info__top {
  width: 260px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #e0ecff;
  text-transform: uppercase;
}

.info__top-span {
    display: block;
}

.info__bottom {
  text-align: center;
  margin-bottom: 139px;
  font-size: 23px;
  line-height: 31px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .1em;
  color: #e0ecff;
}

.info__program {
  width: 275px;
  display: block;
  padding: 5px 32px 5px 44px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 62px;
  font-weight: 600;
  letter-spacing: .1em;
  color: #000000;
  background-color: #fded14;
  text-decoration: none;
  border-radius: 5px;
  
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}

@media ($width-tablet) {
  
  .info {
    padding: 155px 0 178px 0;
    background-image: url("../img/desktop-bg_info.jpg");
    background-position: 57% 25%;
  } 
  
  .info__top {
    width: 100%;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 2px;
  }
  
  .info__top-span {
    display: inline;
  }
  
  .info__bottom {
    margin-bottom: 103px;
    font-size: 27px;
    line-height: 50px;
  }
}

@media ($width-desktop) {
  
  .info {
    background-position: 50% 22%;
  }
  .info__top {
    font-size: 40px;
  }
  
  .info__bottom {
    font-size: 35px;
  }
  
  .info__program {
    width: 273px;
    padding: 4px 43px 6px 48px;
    margin-left: 303px;
  }
}