.program {
  
}

.program-main {
  background-color: #e1e9f6;
}

.program-item {
  background-color: #09dbe8;
}

.program-item__img {
  display: block;
}

.program-bottom {
  background-color: #e1e9f6;
}

.program-bottom__btn {
  background-color: #fded14;
  text-decoration: none;
}
