.reviews {
  padding: 50px 0 46px 0;
  background-color: #e4e8f6;
}

.review-top {
  padding-left: 20px;
  margin: 0;
  font-size: 23px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #352a3b;
  text-transform: uppercase;
}

.review-item {
  padding: 27px 0 8px 18px;
}

.review-item__img {
  margin-bottom: 28px;
  display: block;
  
  &:hover {
    filter: grayscale(100);
  }
}

.review-item__name {
  width: 195px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: .06em;
  color: #0cdeeb;
}

.review-item__name-italic {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .1em;
  color: #0cdeeb;
}

.review-item__text {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #083366;
}

@media ($width-tablet) {
  
  .review {
    padding: 50px 0 68px 0;
  }
  
  .review-container {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding: 0 20px;
  }
  
  .review-item {
    padding: 0;
    width: 228px;
  }
  
  .review-item__name-italic {
    display: block;
    margin: -3px 0 2px 0;
    
  }
  
  .review-item__text {
    letter-spacing: .06em;
  }
  
  .review-item__img {
    margin-bottom: 27px;
  }
}

@media ($width-desktop) {
  
  .reviews {
    padding: 50px 0 63px 0;
  }
  
  .review-top {
    padding-left: 35px;
  }
  
  .review-item {
    width: 291px;
    text-align: center;
  }
  
  .review-item__img,
  .review-item__name {
    margin: 0 auto;
  }
  
  .review-item__name {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 12px;
  }
  
  .review-item__name-italic {
    display: inline;
  }
}