.schedule {
  padding-top: 70px; 
  background-image: url("../img/tablet-bg_schedule.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  color: #ffffff;
}

.schedule-list {
  padding: 0 0 57px 20px;
}

.schedule-top {
  padding-left: 20px;
  margin-top: 0px;
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.schedule-item__top {
  font-size: 22px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .1em;
}

.schedule-item__text{
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .1em;
}

.schedule-item__btn {
  display: inline-block;
  padding: 15px 42px 15px 39px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .1em;
  background-color: #fded14;
  border-radius: 5px;
  color: #352a3b;
  text-decoration: none;
}

@media ($width-tablet) {
  
  .schedule {
    background-image: url("../../img/desktop-bg_schedule.jpg");
  }
  
  .schedule-item {
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media ($width-desktop) {
  
  
}