.schedule {
  background-image: url("../img/tablet-bg_schedule.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  color: #ffffff;
}

.schedule-container {
  padding-top: 76px;
  background: rgba(53, 42, 59, .7); 
}

.schedule-list {
  padding: 0 0 75px 20px;
}

.schedule-item {
  margin-top: 11px;
}

.schedule-top {
  padding-left: 18px;
  width: 310px;
  margin: 0 0 17px 0;
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.schedule-item__top {
  font-size: 22px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: .08em;
}

.schedule-item__text{
  margin: 0 0 19px 32px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .1em;
}

.schedule-item__btn {
  display: inline-block;
  padding: 7px 39px 5px 36px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .1em;
  background-color: #fded14;
  border-radius: 5px;
  color: #352a3b;
  text-decoration: none;
  
  &--last {
    margin-top: 10px;
  }
  
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}

@media ($width-tablet) {
  
  .schedule {
    background-image: url("../../img/desktop-bg_schedule.jpg");
    background-size: auto;
    background-position: 100% 0;
  }
  
  .schedule-container {
    width: 620px;
  }
  
  .schedule-top {
    width: 500px;
    padding-left: 0;
    margin: 0 0 17px 54px;
  }
  
  .schedule-list {
    margin-top: 46px;
    padding: 0 0 37px 24px;
  }
  
  .schedule-item {
    width: 525px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  
  .schedule-item__btn {
    margin-bottom: -3px;
    
    &--last {
      margin: -12px 0 0 0;
    }
  }
}

@media ($width-desktop) {
    
  .schedule-container {
    width: 597px;
    padding-top: 76px;
    padding-bottom: 17px;
    margin-left: 342px;
    padding-left: 20px;
  }
}