.schedule {
  background-image: url(/img/bg_schedule.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.schedule-item__btn {
  background-color: #fded14;
  text-decoration: none;
}